{% extends "screserve/base.html" %}

{% block title %}S.C | Update Officer{% endblock %}

{% block content %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Officer
        <small>Update Officer</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="?"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Officer</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

     <form class="frm-staff-add" enctype="multipart/form-data" method="post" action="{% url 'update_officer' officer.pk %}">
       {% csrf_token %}
      <section class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box box-default">
              <br>
              <div class="box-body">

                  <div class="col-md-3">

                      <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#tabpersonal" data-toggle="tab">
                          <i class="fa fa-inbox"></i> Personal Information</a></li>
                        <li><a href="#tabaccount" data-toggle="tab">
                          <i class="fa fa-inbox"></i> Account Information</a></li>
                      </ul>

                  </div>
                  <div class="col-md-9">
                    <div class="tab-content">
                      <div class="tab-pane " id="tabaccount">
                            <div id="" class="box box-info box-solid">
                              <div class="box-header bg-info">
                                <h3 class="box-title">Account Details</h3>
                              </div>
                              <div class="box-body">
                                <div class="row">
                                  <div class="col-md-4">
                                    <div class="form-group">
                                      <div class="form-group">
                                        <div class="box-body box-profile">
                                          <img class="img-responsive staffimg" src="{% if officer.avatar.url != None %} {{officer.avatar.url}} {%endif%}" alt="User profile picture">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <div class="input-group">
                                            <input type="file" name="avatar" class="form-control avatar" placeholder="Select Image" id="id_avatar">
                                        </div>
                                        <code class="messageError" style="display:none;"></code>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-8">
                                    <div class="form-group">

                                      <div class="form-group">
                                        <label>Username</label> <span style="color:red;">{{officer_form.username.errors.as_text}}</span>
                                          <input type="text" class="form-control txtuname" name="username" value="{{officer.user.username}}" id="id_avatar">
                                      </div>
                                      <div class="form-group">
                                        <label>Password</label> <span style="color:red;">{{officer_form.password.errors.as_text}}</span>
                                          <input type="text" class="form-control txtpword" name="password">
                                      </div>
                                      <div class="form-group">
                                        <label>Role</label>
                                        <select class="form-control txtrole" name="groups">
                                          {% for group in groups %}
                                          <option value="{{group.name}}" {% if group.name == role.0 %} selected {% endif %}>{{group.name}}</option>
                                          {% endfor %}
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                      </div>
                      <div class="tab-pane active" id="tabpersonal">

                            <div id="" class="box box-info box-solid">
                              <div class="box-header bg-info">
                                <h3 class="box-title">Personal Details</h3>
                              </div>
                              <div class="box-body">
                                <div class="row">

                                        <div class="col-md-3">
                                          <div class="form-group">
                                            <label>Surname</label> <span style="color:red;">{{profile_form.lname.errors.as_text}}</span>
                                            <input type="text" class="form-control txtlname" name="lname" value="{{officer.lname}}">
                                          </div>
                                        </div>

                                        <div class="col-md-3">
                                          <div class="form-group">
                                            <label for="id_fname">First Name</label> <span style="color:red;">{{profile_form.lname.errors.as_text}}</span>
                                            <input type="text" class="form-control txtfname" name="fname" value="{{officer.fname}}" id="id_fname">
                                          </div>
                                        </div>

                                        <div class="col-md-3">
                                          <div class="form-group">
                                            <label>Middle Name</label> <span style="color:red;">{{profile_form.lname.errors.as_text}}</span>
                                            <input type="text" class="form-control txtmname" name="mname" value="{{officer.mname}}">
                                          </div>
                                        </div>

                                        <div class="col-md-3">
                                          <div class="form-group">
                                            <label>Date of Birth</label> <span style="color:red;">{{profile_form.lname.errors.as_text}}</span>
                                            <input type="date" class="form-control txtbdate" name="birthday" value="{{officer.birthday|date:'Y-m-d'}}">
                                          </div>
                                        </div>

                                        <div class="col-md-3">
                                          <div class="form-group">
                                            <label>Gender</label>
                                            <br>
                                            <label>
                                              <input type="radio" name="sex" class="minimal" value="M" {% if officer.sex == "M" %} checked {% endif %}>
                                              Male
                                            </label>
                                            <label>
                                              <input type="radio" name="sex" class="minimal" value="F" {% if officer.sex == "F" %} checked {% endif %}>
                                              Female
                                            </label>
                                          </div>
                                        </div>

                                </div>

                                <hr>

                                <div class="row">
                                  <div class="col-md-12">

                                    <div class="form-group">
                                      <label>Address</label> <span style="color:red;">{{profile_form.lname.errors.as_text}}</span>
                                      <textarea class="form-control txtaddress" name="address" rows="3">{{officer.address}}</textarea>
                                    </div>

                                    <div class="form-group">
                                        <label>Contact Number</label> <span style="color:red;">{{profile_form.lname.errors.as_text}}</span>
                                        <input type="text" class="form-control txtcontactno" name="contact" value="{{officer.contact}}">
                                    </div>

                                  </div>

                                </div>

                              </div>
                            </div>

                      </div>
                    </div>
                  <div>

                  <div class="row">
                    <div class="col-md-12">

                        <button type="submit" class="btn btn-info pull-right"><i class="fa fa-save"></i> Save Changes</button>

                    </div>
                  </div>

              </div>
            </div>
          </div>
        </div>
      </section>
      </form>


    </section>
    <!-- /.content -->
{% endblock %}
