{% load has_group %}

<header class="main-header">
<!-- Logo -->
<a href="?" class="logo">
  <!-- mini logo for sidebar mini 50x50 pixels -->
  <span class="logo-mini"><b>S</b>C</span>
  <!-- logo for regular state and mobile devices -->
  <span class="logo-lg"><b>Sta.</b>Cruz</span>
</a>

<nav class="navbar navbar-static-top">
  <!-- Sidebar toggle button-->
  <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
    <span class="sr-only">Toggle navigation</span>
  </a>

  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">

      {% block user_profile %}
      <!-- User Account: style can be found in dropdown.less -->
      <li class="dropdown user user-menu">
        <a href="?" class="dropdown-toggle" data-toggle="dropdown">
          <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
          <span class="hidden-xs">{{user.get_username}}</span>
        </a>
        <ul class="dropdown-menu">
          <!-- User image -->
          <li class="user-header">
            <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

            <p>
              {{user.get_username}}
            </p>
          </li>

          <li class="user-footer">
            <div class="pull-left">
              <a href="#" class="btn btn-default btn-flat">Profile</a>
            </div>
            <div class="pull-right">
              <a href="/accounts/logout/" class="btn btn-default btn-flat">Sign out</a>
            </div>
          </li>
        </ul>
      </li>
      {% endblock %}

    </ul>
  </div>
</nav>
</header>
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
    </div>

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">IMPORTANT</li>

      <li class="{% if request.path == url %} active {% endif %}">
        <a href="{% url 'index' %}">
          <i class="fa fa-home"></i> <span>Home</span>

        </a>
      </li>
      <li class="">
        <a href="{% url 'list_bookings' %}">
          <i class="fa fa-book"></i> <span>Reservation</span>
           <span class="pull-right-container">
            <small class="label pull-right bg-blue">{{reservation_count}}</small>
          </span>
        </a>
      </li>
      <li class="header">USERS NAVIGATION</li>
      <li>
        <a href="{% url 'list_clients' %}">
          <i class="fa fa-address-book"></i> <span>Client</span>
          <span class="pull-right-container">
            <small class="label pull-right bg-blue">{{client_count}}</small>
          </span>
        </a>
      </li>

      {% if request.user|has_group:"Administrator" %}
      <li>
        <a href="{% url 'list_officers' %}">
          <i class="fa fa-user-secret"></i> <span>Officer</span>
          <span class="pull-right-container">
            <small class="label pull-right bg-blue">{{officer_count}}</small>
          </span>
        </a>
      </li>


      <li class="header">SETTINGS</li>
      <li>
        <a  href="#" data-toggle="modal" data-target="#mdl-maxvisitor">
          <i class="fa fa-users"></i> <span>Max. No. of Visitor</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
